/* CSS Variables */

:root {

	/* Colors */
	--neutral-50: #FAFAFA;
	--neutral-200: #E5E5E5;
	--neutral-300: #D4D4D4;
	--neutral-400: #A3A3A3;
	--neutral-500: #737373;
	--neutral-600: #525252;
	--neutral-700: #404040;
	--neutral-800: #262626;
	--neutral-900: #171717;

	--blue-500: #5c8df6;
	--blue-700: #2857d9;
	--blue-900: #1d4795;

	/* Fonts */
	--font-inter: 'Inter', sans-serif;
	--font-sora: 'Sora', sans-serif;

	/* Font sizes */
	--text-14px: 0.875rem;
	--text-16px: 1rem;
	--text-18px: 1.125rem;
	--text-24px: 1.5rem;
	--text-28px: 1.75rem;
	--text-32px: 2rem;
	--text-40px: 2.5rem;
	--text-48px: 3rem;
	--text-56px: 3.5rem;

	/* Font weights */
	--font-weight-regular: 400;
	--font-weight-bold: 700;
}
